<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><a href="/todos"><%= title %></a></h1>
    <b><%= todo.piority %> </b>
    <a><%= todo.title %></a>
    <a href="/remove-todo/<%= todo.id %>"> Remove</a>
    <form method="post" action="/update-todo">
      <input placeholder="Update todo" name="title" />
      <input hidden name="id" value="<%= todo.id %>" />

      <button type="submit">Submit</button>
    </form>
    <form method="post" action="/piority">
      <input hidden name="id" value="<%= todo.id %>" />
      <label for="piority"> Piority: </label>
      <select name="piority" type="submit">
        <option value="1">Now</option>
        <option value="2">High</option>
        <option value="3">Modarate</option>
        <option value="4">Low</option>
        <option value="5">Latter</option>
      </select>

      <button type="submit">Change</button>
    </form>
  </body>
</html>
